

#modal_edit{
  width: 50%;
  height: 75%;
  border: 2px solid black !important;
  border-radius: 2% !important;
  margin: auto;
}
h2{
  margin-top: 12px;
  text-align: center;
  font-size: 24px;
}
#addToogleButton{
  border: 1px solid #1976d2;
  font-weight: bold;
  color: white;
  background-color: #1976d2;
  font-size: small;
  border-radius: 100%;
  cursor: pointer;
}
.addArea{
  
  width: 80%;
  text-align: center;
  margin: auto;
}
.addArea .button{
  float: right;
  padding: 6px 6px;
  
}